﻿@model List<EminProje.Models.rezervasyon>
@{
    ViewBag.Title = "Rezervasyon";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Telefon</th>
            <th>Zaman</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td>@item.Telefon</td>
                    <td>@item.Zaman</td>
                </tr>
            }

       


        </tbody>
    </table>