﻿@{
    ViewBag.Title = "Ana Sayfa";
}


    
    <h2 class=" text-center"> Menü</h2>
    <div class="panel-body">
    <div class="row col-md-12">
        <div class=" col-md-4">
            <div class="menu-images "><img src="~/img/menu/hot-drinks.png" class="img-responsive" alt="Sıcak İçecekler"></div>
            <div class="menu-titles"><h1 class="">Sıcak İçecekler</h1></div>
            <div class="menu-items ">
                <ul>
                    <li>Türk Kahvesi</li>
                    <li>Rize Çayı</li>
                    <li>Kapiçino</li>
                    <li>Latte</li>
                    <li>Sıcak Çikolata</li>

                </ul>
            </div>
        </div>

        <div class=" col-md-4">
            <div class="menu-images "><img src="~/img/menu/ice-drinks.png" class="img-responsive" alt="Soğuk İçecek"></div>
            <div class="menu-titles"><h1 class="">Soğuk İçecekler</h1></div>
            <div class="menu-items ">
                <ul>
                    <li>Ayran</li>
                    <li>Şalgam</li>
                    <li>Soğuk Çay</li>
                    <li>Meyve Suyu</li>
                    <li>Gazlı İçecekler</li>

                </ul>
            </div>
        </div>

        <div class=" col-md-4">
            <div class="menu-images "><img src="~/img/menu/kebap.png" class="img-responsive" alt="Kebaplar"></div>
            <div class="menu-titles"><h1 class="">Kebaplar</h1></div>
            <div class="menu-items ">
                <ul>
                    <li>Acılı Adana</li>
                    <li>Urfa</li>
                    <li>Çöp Şiş</li>
                    <li>Tas Kebabı </li>
                    <li>Kuzu Kebap</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row col-md-12">
            <div class=" col-md-4">
                <div class="menu-images "><img src="~/img/menu/ikram.png" class="img-responsive" alt="İkramlar"></div>
                <div class="menu-titles"><h1 class="">İkramlar</h1></div>
                <div class="menu-items ">
                    <ul>
                        <li>Çiğköfte</li>
                        <li>Cacık</li>
                        <li>Ezme</li>

                    </ul>
                </div>

            </div>
            <div class=" col-md-4">
                <div class="menu-images "><img src="~/img/menu/salata.png" class="img-responsive" alt="Salatalar"></div>
                <div class="menu-titles"><h1 class="">Salatalar</h1></div>
                <div class="menu-items ">
                    <ul>
                        <li>Mevsim Salata</li>
                        <li>Sövüş</li>
                        <li>Çoban Salata</li>

                    </ul>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="menu-images "><img src="~/img/menu/deserts.png" class="img-responsive" alt="Tatlılar"></div>
                <div class="menu-titles"><h1 class="">Tatlılar</h1></div>
                <div class="menu-items ">
                    <ul>
                        <li>Çizkek</li>
                        <li>Çikolatalı Kek</li>
                        <li>Waffle</li>
                        <li>Supangle</li>
                        <li>Kazandibi</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>